<div class="terminal">
  <div class="terminal-monitor">
    <div class="screw1 screws"></div>
    <div class="screw2 screws"></div>
    <div class="screw3 screws"></div>
    <div class="screw4 screws"></div>

    <div class="terminal-screen-wrapper">
      <div class="terminal-screen">
        <div class="terminal-scanline"></div>
        <div class="terminal-lines"></div>
        <div class="terminal-text">
          <div *ngFor="let line of outputHistory">
            <span class="terminal-output">{{ line }}</span>
          </div>
          <div *ngIf="!isBootingUp" style="display: flex">
            <div class="terminal-prompt">user&#64;neon-shell:~$&nbsp;</div>
            <textarea
              class="terminal-input"
              spellcheck="false"
              autofocus
              onblur="this.focus();"
              (keydown.enter)="handleEnterKeyPressed($event)"
              [(ngModel)]="currentInput"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="terminal-bottom-panel"></div>
</div>
